package temp_components

import "myApp/templates/temp_base"

templ TextOut(text string) {
  @temp_base.Base("MAIN") {
    <div>
      { text } 
    </div>
  }
}

templ ListOut(list map[string]string) {
  @temp_base.Base("MAIN") {
    <div>
      for key, val := range list {
        <p>{ key } - { val }</p>
      }
    </div>
  }
}